body {
    width: 100%;
    margin: 0;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#h1 {
  border-radius: 6px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #222;
}

h1 {
  font-size: 50px;
  color: white;
  margin: 0;
}

button {
  font-size: 25px;
  border-radius: 6px;
  background-color: transparent;
  padding: 5px;
}

button:hover {
  background-color: black;
  color: white;
}
